.feynman__link{
    text-decoration: none;
    color: #2f80ed;
    line-height: 51px;
    font-weight: normal;
    font-size: 36px;
    position: absolute;
    right: 48px;
    top: 50%;
}

.feynman__link:hover{
  opacity: 0.6;
  transition: opacity 0.1s linear;
}

  